<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario empleados</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="container fluid">
        <form id="form">
                    <br>
                    <fieldset>
                        <div class="mb-3">
                            <label class="form-label">Nombre:</label>
                            <input type="text" placeholder="Ingrese el nombre" name="nombre" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Apellido Paterno:</label>
                            <input type="text" placeholder="Ingrese el apellido paterno" name="apellidoPaterno" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Apellido Materno:</label>
                            <input type="text" placeholder="Ingrese el apellido materno" name="apellidoMaterno" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Correo:</label>
                            <input type="email" placeholder="Ingrese la direccion de correo" name="correo" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Celular:</label>
                            <input type="text" placeholder="Ingrese su numero de celular" name="celular" class="form-control" required>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary mr-3">Enviar</button>
                            <button type="reset" class="btn btn-danger">Limpiar</button>
                        </div>
                    </fieldset>
                    <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Celular</th>
                            <th scope="col">Email</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido Paterno</th>
                            <th scope="col">Apellido Materno</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach( empleado=> { %>
                            <tr>
                                <th scope="row"><%= empleado.id %></th>
                                <td><%= empleado.celular %></td>
                                <td><%= empleado.correo %></td>
                                <td><%= empleado.nombre %></td>
                                <td><%= empleado.apellidoPaterno %></td>
                                <td><%= empleado.apellidoMaterno %></td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
        </form>
    </div>
    <br>
</body>
<script src="/js/libs/jquery-3.6.0.min.js"></script>
<script src="/js/main.js"></script>
</html>