<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de empleados</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container fluid">
        <form id="formulario">
                    <fieldset>
                        <br>
                        <div class="mb-1">
                            <label class="form-label">Nombre:</label>
                            <input type="text" placeholder="Ingrese el nombre" name="nombre" class="form-control" required>
                        </div>
                        <div class="mb-1">
                            <label class="form-label">Apellido Paterno:</label>
                            <input type="text" placeholder="Ingrese el apellido paterno" name="apellidoPaterno" class="form-control" required>
                        </div>
                        <div class="mb-1">
                            <label class="form-label">Apellido Materno:</label>
                            <input type="text" placeholder="Ingrese el apellido materno" name="apellidoMaterno" class="form-control" required>
                        </div>
                        <div class="mb-1">
                            <label class="form-label">Email:</label>
                            <input type="email" placeholder="Ingrese la direccion de correo" name="correo" class="form-control" required>
                        </div>
                        <div class="mb-1">
                            <label class="form-label">Celular:</label>
                            <input type="text" placeholder="Ingrese su numero de celular" name="celular" class="form-control" required>
                        </div>
                        <div class="justify-content-left">
                            <button type="submit" class="btn btn-primary mr-1">Enviar</button>
                            <button type="reset" class="btn btn-primary mr-1">Limpiar</button>
                        </div>
                    </fieldset>
                    <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Email</th>
                            <th>Celular</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach( empleado=> { %>
                            <tr>
                                <td><%= empleado.nombre %></td>
                                <td><%= empleado.apellidoPaterno %></td>
                                <td><%= empleado.apellidoMaterno %></td>
                                <td><%= empleado.correo %></td>
                                <td><%= empleado.celular %></td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
        </form>
    </div>
</body>
<script src="/js/libs/jquery-3.6.0.min.js"></script>

<script src="/js/formulario.js"></script>
</html>